node-red/marged_20200225.json
[{"id":"5974a712.ab2828","type":"tab","label":"フロー 3","disabled":false,"info":""},{"id":"7f7e0bd9.149d64","type":"http in","z":"5974a712.ab2828","name":"","url":"/image-recognition","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["9a554979.259808"]]},{"id":"9a554979.259808","type":"template","z":"5974a712.ab2828","name":"画像認識","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n  <head>\n    <meta charset=\"utf-8\">\n    <title>画像認識</title>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js\"></script>\n    <script>\n    window.onload = () => {\n\t  const video  = document.querySelector(\"#video_camera\");\n\t  const canvas = document.querySelector(\"#canvas_picture\");\n\t  const se     = document.querySelector('#audio_se');\n\n\t  /** カメラ設定 */\n\t  const constraints = {\n\t    audio: false,\n\t    video: {\n\t      width: 300,\n\t      height: 200,\n\t      facingMode: \"user\"   // フロントカメラを利用する\n\t      // facingMode: { exact: \"environment\" }  // リアカメラを利用する場合\n\t    }\n\t  };\n\n\t  /**\n\t   * カメラを<video>と同期\n\t   */\n\t  navigator.mediaDevices.getUserMedia(constraints)\n\t  .then( (stream) => {\n\t    video.srcObject = stream;\n\t    video.onloadedmetadata = (e) => {\n\t      video.play();\n\t    };\n\t  })\n\t  .catch( (err) => {\n\t    console.log(err.name + \": \" + err.message);\n\t  });\n\n\t  /**\n\t   * 撮影ボタン\n\t   */\n\t   document.querySelector(\"#btn_recording\").addEventListener(\"click\", () => {\n\t    const ctx = canvas.getContext(\"2d\");\n\n\t    // 演出的な目的で一度映像を止めてSEを再生する\n\t    video.pause();  // 映像を停止\n\t    se.play();      // シャッター音\n\t    setTimeout( () => {\n\t      video.play();    // 0.5秒後にカメラ再開\n\t    }, 500);\n\n\t    // canvasに画像を貼り付ける\n\t    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);\n\t    // DataURLに変換\n\t    var dataURL = canvas.toDataURL(\"image/jpeg\");                 // DataURLに変換\n\t    var base64 = dataURL.replace(/^.*,/, '');                     // プレフィックスを削除してBase64部分だけ取り出し\n\t    form1.url.value = base64;\n\t    console.log(form1.url.value);\n\t  });\n\t};\n    </script>\n    <style type=\"text/css\">\n    <!--\n    .box3 {\n    padding: 0.5em 1em;\n    margin: 2em 0;\n    color: #2c2c2f;\n    background: #cde4ff;/*背景色*/\n    }\n    .box3 p {\n    margin: 0; \n    padding: 0;\n    }\n　　example {\n    margin: 10px auto;\n    width:50px;\n    background: orange;\n    }\n    \n    -->\n    canvas, video{\n    border: 1px solid gray;\n    }\n    </style>\n    </head>\n    <body>\n　　<center>\n　　<div class=\"box3\">\n    <h1>画像認識</h1>\n    </div>\n    \n  　<p>撮影ボタンでカメラ画像を撮影し、判定ボタンで画像認識を開始します</p>\n  　<video id=\"video_camera\" width=\"300\" height=\"200\"></video>\n    <canvas id=\"canvas_picture\" width=\"300\" height=\"200\"></canvas>\n    <form id=\"form1\" action=\"/image-classification\" method=\"post\">\n\t    <button type=\"button\" style=\"width:50%;padding:10px;font-size:30px;\" name=\"button\" class=\"recording\" id=\"btn_recording\">撮影</button><br><br><br>\n\t    <button type=\"submit\" style=\"width:50%;padding:10px;font-size:30px;\" name=\"button\" class=\"classification\" id=\"btn_classification\">判定</button><br><br><br>\n\t    <input type=\"hidden\" name=\"url\" value=\"\"/>\n    </form>\n    <form id=\"form2\" action=\"/index\" method=\"get\">\n\t    <button type=\"submit\" style=\"width:50%;padding:10px;font-size:30px;\" name=\"button\" class=\"return\" id=\"btn_return\">戻る</button><br><br><br>\n    </form>\n    <audio id=\"audio_se\" preload=\"auto\">\n        <source src=\"camera-shutter1.mp3\" type=\"audio/mp3\">\n    </audio>\n    <div class=\"panel-footer\" style=\"height:100px;\">\n      <div id=\"result\"></div>\n    </div>\n　　</center>\n  </body>\n</html>","output":"str","x":320,"y":280,"wires":[["c131d540.3cf038","610d94b5.28d94c"]]},{"id":"955ea6e1.55cf38","type":"http in","z":"5974a712.ab2828","name":"","url":"/image-classification","method":"post","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["b7fb222f.d66c2"]]},{"id":"4e211283.07d45c","type":"template","z":"5974a712.ab2828","name":"結果","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<title>Visual Recognition</title>\n<h1>Classify Images by Visual Recognition </h1>\n<img src=\"{{result.images.0.image}}\" width=\"320\" />\n<h2>結果</h2>\nこれは\n{{result.images.0.classifiers.0.classes.0.class}}\n（確信度:{{result.images.0.classifiers.0.classes.0.score}}\n)です。\n\n{{#result}}\n  {{#images}}\n    {{#classifiers}}\n  <table border=\"1\">\n      <tr><th>分類名</th><th>確信度</th></tr>\n      {{#classes}}\n      <tr>\n        <td> {{class}} </td> \n        <td> {{score}} </td>\n      </tr>\n      {{/classes}}\n    {{/classifiers}}\n  </table>\n  {{/images}}\n{{/result}}\n<form id=\"form\" action=\"/image-recognition\" method=\"get\">\n  <button type=\"submit\" id=\"return\">戻る</button>\n</form>","output":"str","x":670,"y":440,"wires":[["fa78af6a.08d88"]]},{"id":"ebcf6461.75abe8","type":"debug","z":"5974a712.ab2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":520,"wires":[]},{"id":"a4b64403.0c0a08","type":"visual-recognition-v3","z":"5974a712.ab2828","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"ja","x":490,"y":520,"wires":[["4e211283.07d45c","ebcf6461.75abe8"]]},{"id":"fa78af6a.08d88","type":"http response","z":"5974a712.ab2828","name":"","statusCode":"","headers":{},"x":810,"y":440,"wires":[]},{"id":"c131d540.3cf038","type":"http response","z":"5974a712.ab2828","name":"","statusCode":"","headers":{},"x":470,"y":280,"wires":[]},{"id":"610d94b5.28d94c","type":"debug","z":"5974a712.ab2828","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":320,"wires":[]},{"id":"b7fb222f.d66c2","type":"function","z":"5974a712.ab2828","name":"base64decode","func":"msg.payload = new Buffer(msg.payload.url, 'base64');\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["a4b64403.0c0a08"]]},{"id":"cbac8a3a.e90358","type":"comment","z":"5974a712.ab2828","name":"画像認識　カメラを認識して画像取得します。","info":"","x":200,"y":240,"wires":[]},{"id":"7064a018.f6078","type":"comment","z":"5974a712.ab2828","name":"画像をバイナリ変換してからWatsonで判定します。","info":"","x":210,"y":400,"wires":[]},{"id":"f8993486.a9ed78","type":"template","z":"5974a712.ab2828","name":"打音収集","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n  <head>\n    <meta charset=\"utf-8\">\n    <title>打音判定</title>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js\"></script>\n    <script>\n    $(function() {\n  $('#btn_start_recording').on('click', function(){\n    startRecording();\n  })\n\n  $('#btn_stop_recording').on('click', function(){\n    endRecording();\n  })\n  \n  $('#btn_classification').on('click', function(){\n    classification();\n  })\n  \n})\n // ///////////////////////////////////////////\n // 録音関係\n // ///////////////////////////////////////////\n\n // 変数定義\n let localMediaStream = null;\n let localScriptProcessor = null;\n let audioSampleRate = null;\n let audioContext = null;\n let bufferSize = 1024;\n let audioData = []; // 録音データ\n let recordingFlg = false;\n let dl = null;\n let blob = null;\n let geo_json = [];\n  \n // 録音バッファ作成（録音中自動で繰り返し呼び出される）\n function onAudioProcess(e) {\n     if (!recordingFlg) return;\n     console.log('onAudioProcess');\n\n     // 音声のバッファを作成\n     let input = e.inputBuffer.getChannelData(0);\n     let bufferData = new Float32Array(bufferSize);\n     for (let i = 0; i < bufferSize; i++) {\n         bufferData[i] = input[i];\n     }\n     audioData.push(bufferData);\n }\n\n // 解析開始\n function startRecording(evt_stream) {\n     // 画面アクセス時にマイクを取得\n     console.log('startRecording');\n     recordingFlg = true;\n\n     // 取得されている音声ストリームの録音を開始\n     localMediaStream = evt_stream;\n\n     if (!navigator || !navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {\n       alert('Missing support for navigator.mediaDevices.getUserMedia') // temp: helps when testing for strange issues on ios/safari\n       return\n     }\n\n     audioContext = new (window.AudioContext || window.webkitAudioContext)();\n     // サンプルレートを保持しておく\n     audioSampleRate = audioContext.sampleRate;\n\n     let scriptProcessor = audioContext.createScriptProcessor(bufferSize, 1, 1);\n     localScriptProcessor = scriptProcessor;\n\n     if (audioContext.createMediaStreamDestination) {\n       destinationNode = audioContext.createMediaStreamDestination()\n     }\n     else {\n       destinationNode = audioContext.destination\n     }\n\n     // safariで Web Audio APIを動かすため、先にaudioContextを生成し、UserMediaを生成する\n     return navigator.mediaDevices.getUserMedia({audio: true})\n       .then((stream) => {\n         this._startRecordingWithStream(stream, destinationNode, scriptProcessor)\n       })\n       .catch((error) => {\n         alert('Error with getUserMedia: ' + error.message) // temp: helps when testing for strange issues on ios/safari\n         console.log(error)\n       })\n   }\n\n   function _startRecordingWithStream(stream, destinationNode, scriptProcessor) {\n     // ループ処理のセット\n     let mediastreamsource = audioContext.createMediaStreamSource(stream);\n     mediastreamsource.connect(scriptProcessor);\n     scriptProcessor.onaudioprocess = onAudioProcess;\n     console.log('startRecording scriptProcessor.connect(audioContext.destination)');\n     scriptProcessor.connect(destinationNode);\n   }\n\n // 解析終了\n function endRecording() {\n     console.log('endRecording');\n     recordingFlg = false;\n     // console.log('audioData');\n     // console.log(audioData);\n\n     // console.log('blob = exportWAV(audioData)');\n     // 録音できたので録音データをwavにしてinputに配置＆再生ボタンに登録\n     blob = exportWAV(audioData);\n     // データ送信用のinputタグを取得\n     let wave_tag = document.getElementById('demo_speaking_wave_file');\n\n     // base64加工\n     let reader = new FileReader();\n     reader.readAsDataURL(blob);\n     reader.onloadend = function() {\n         base64data = reader.result;\n         // console.log('base64data');\n         // console.log(base64data);\n        //wave_tag.value = base64data;\n     };\n\n     let myURL = window.URL || window.webkitURL;\n     let url = myURL.createObjectURL(blob);\n     //dl = document.querySelector(\"#dl\");\n     \n     dl = \"test\";\n     //集音したものから音声データを作成する\n     //dl.href = myURL.createObjectURL(blob);\n     \n     //var min = 0 ;\n　　 //var max = 9 ;\n\n     //var a = Math.floor( Math.random() * (max + 1 - min) ) + min ;\n     //var b = Math.floor( Math.random() * (max + 1 - min) ) + min ;\n     //dl.download = new Date().getTime().toString(16) + '-' + a + b + '.wav';\n     // console.log('wavefile');\n     // console.log(url);\n\n     // audioタグに録音データをセット\n     let player = document.getElementById('player');\n     player.src =  url;\n     player.load();\n\n     // audioDataをクリア\n     localMediaStream = null;\n     localScriptProcessor = null;\n     audioContext.close()\n     audioContext = null;\n     audioData = []; // 録音データ\n }\n\n // ///////////////////////////////////////////\n // waveファイル作成処理\n // ///////////////////////////////////////////\n\n function exportWAV(audioData) {\n\n     let encodeWAV = function(samples, sampleRate) {\n         let buffer = new ArrayBuffer(44 + samples.length * 2);\n         let view = new DataView(buffer);\n\n         let writeString = function(view, offset, string) {\n             for (let i = 0; i < string.length; i++){\n                 view.setUint8(offset + i, string.charCodeAt(i));\n             }\n         };\n\n         let floatTo16BitPCM = function(output, offset, input) {\n             for (let i = 0; i < input.length; i++, offset += 2){\n                 let s = Math.max(-1, Math.min(1, input[i]));\n                 output.setInt16(offset, s < 0 ? s * 0x8000 : s * 0x7FFF, true);\n             }\n         };\n\n         writeString(view, 0, 'RIFF');  // RIFFヘッダ\n         view.setUint32(4, 32 + samples.length * 2, true); // これ以降のファイルサイズ\n         writeString(view, 8, 'WAVE'); // WAVEヘッダ\n         writeString(view, 12, 'fmt '); // fmtチャンク\n         view.setUint32(16, 16, true); // fmtチャンクのバイト数\n         view.setUint16(20, 1, true); // フォーマットID\n         view.setUint16(22, 1, true); // チャンネル数\n         view.setUint32(24, sampleRate, true); // サンプリングレート\n         view.setUint32(28, sampleRate * 2, true); // データ速度\n         view.setUint16(32, 2, true); // ブロックサイズ\n         view.setUint16(34, 16, true); // サンプルあたりのビット数\n         writeString(view, 36, 'data'); // dataチャンク\n         view.setUint32(40, samples.length * 2, true); // 波形データのバイト数\n         floatTo16BitPCM(view, 44, samples); // 波形データ\n\n         return view;\n     };\n\n     let mergeBuffers = function(audioData) {\n         let sampleLength = 0;\n         for (let i = 0; i < audioData.length; i++) {\n             sampleLength += audioData[i].length;\n         }\n         let samples = new Float32Array(sampleLength);\n         let sampleIdx = 0;\n         for (let i = 0; i < audioData.length; i++) {\n             for (let j = 0; j < audioData[i].length; j++) {\n                 samples[sampleIdx] = audioData[i][j];\n                 sampleIdx++;\n             }\n         }\n         return samples;\n     };\n\n     let dataview = encodeWAV(mergeBuffers(audioData), audioSampleRate);\n     let audioBlob = new Blob([dataview], { type: 'audio/wav' });\n\n     return audioBlob;\n\n     // let myURL = window.URL || window.webkitURL;\n     // let url = myURL.createObjectURL(audioBlob);\n     // return url;\n }\n\n function audioPlay() {\n     let play_button = document.getElementById(\"btn_play_pause\");\n     play_button.onclick = new Function(\"audioPause();\");\n     play_button.innerText = \"停止\";\n     document.getElementById(\"player\").play();\n }\n\n function audioPause() {\n     let play_button = document.getElementById(\"btn_play_pause\");\n     play_button.onclick = new Function(\"audioPlay();\");\n     play_button.innerText = \"再生\";\n     document.getElementById(\"player\").pause();\n }\n    \n//-----------------------\n//判定ボタン押下アクション   \n//-----------------------\n  function classification() {\n      \n      if (blob === null || blob === undefined) {\n         document.getElementById(\"result\").innerText = \"打音が録音されてません\" ;  \n      } else {　\n      \n      //地図情報の取得\n      if (navigator.geolocation) {\n    　/* 現在の位置情報を取得 */\n    　navigator.geolocation.getCurrentPosition(function(pos) {//位置情報の取得に成功した場合\n\n    \n      // POSTでアップロード\n      var fd = new FormData();\n      fd.append('fname', 'test.wav');\n      fd.append(\"data\", blob);\n      fd.append(\"latitude\", pos.coords.latitude );\n      fd.append(\"longtitude\", pos.coords.longitude );\n      \n      console.log('done!');\n      $.ajax({\n          url  : \"./classification\",\n          type : \"POST\",\n          data : fd,\n          cache       : false,\n          contentType : false,\n          processData : false,\n          dataType    : \"html\",\n      })\n\n      //------\n      //try\n      //------\n      .done(function(data, textStatus, jqXHR) {\n        //画面のresultタグを取得,結果から表示値を生成する\n        var result_element = document.getElementById('result');\n\n        var objResult = JSON.parse(data);\n        console.log(data);\n\n        //-----------------------------\n        //現在表示されている\"結果\"を削除する\n        //-----------------------------\n        // 子ノードを全削除\n        if (result_element.hasChildNodes()){\n          for (var i=result_element.childNodes.length-1; i>=0; i--) {\n            result_element.removeChild(result_element.childNodes[i]);\n          }\n        }\n\n        //-----------------------------\n        //判定結果（JSON形式）からデータを取得, 表示値を生成\n        //-----------------------------\n        // classifierId+name\n        var classifier;\n        classifier = document.createTextNode(\"classifierId=\"+objResult.images[0].classifiers[0].classifier_id+\", classifierName=\"+objResult.images[0].classifiers[0].name);\n        var classifierBox = document.createElement('p');\n        classifierBox.appendChild(classifier);\n        result_element.appendChild(classifierBox);\n\n        // classes\n        var classes;\n        classes = document.createTextNode(\"className=\"+objResult.images[0].classifiers[0].classes[0].class +\", score=\"+objResult.images[0].classifiers[0].classes[0].score );\n        var classesBox = document.createElement('p');\n        classesBox.appendChild(classes);\n        result_element.appendChild(classesBox);\n\n        console.log('result_data：'+objResult);\n      })\n\n\n      //------\n      //catch\n      //------\n      .fail(function(jqXHR, textStatus, errorThrown) {\n          // エラー\n          console.log('error!');\n          var result_element = document.getElementById('result');\n          var error;\n          error = document.createTextNode(\"error=\"+errorThrown);\n          var errorBox = document.createElement('p');\n          errorBox.appendChild(error);\n          result_element.appendChild(errorBox);\n          return;\n      })\n\n      //------\n      //finaly\n      //------\n      .always(function(data) {\n        // 特に何もしない\n      });  \n\n    　}, function(error) {\n      //------------------------\n      //位置情報の取得に失敗した場合\n      //------------------------\n        var msg;\n        switch (error.code) {\n            /* エラーコード\n             1．位置情報の取得が許可されていない\n             2．位置情報の取得が利用できない\n             3．タイムアウト\n             */\n            case error.PERMISSION_DENIED:\n                //エンド・ユーザーが、Geolocation APIの仕様を許可しない場合に発生\n                msg = \"位置情報取得の使用許可がされませんでした\" + \"\\n\";\n                break;\n            case error.POSITION_UNAVAILABLE:\n                //在位置を特定できない場合に発生\n                msg = \"位置情報を特定できませんでした\" + \"\\n\";\n                break;\n            case error.PERMISSION_DENIED_TIMEOUT:\n                msg = \"位置情報取得がタイムアウトしました\" + \"\\n\";\n                break;\n            default:\n                msg = \"位置情報取得で不明なエラーが発生しました(CODE: \" + error.code + \")\\n\";\n                break;\n        　　}\n        　　if (error.message) {\n            　　msg += error.message + \"\\n\";\n        　　}\n        　　alert(msg);\n    　　}, {\n        　　enableHightAccuracy : true, //高精度の情報を取得するかどうかを指定（Boolean型）\n        　　timeout : 30000//タイムアウトまでの時間を指定\n        　　//maximumAge:   位置情報の有効期限を指定\n    　　});\n　　　　} else {\n    　　　　alert(\"ご利用のブラウザでは位置情報を取得できません\");\n　　　　} \n          }           \n        }\n    </script>\n    <style type=\"text/css\">\n    <!--\n    .box3 {\n    padding: 0.5em 1em;\n    margin: 2em 0;\n    color: #2c2c2f;\n    background: #cde4ff;/*背景色*/\n    }\n    .box3 p {\n    margin: 0; \n    padding: 0;\n    }\n　　example {\n    margin: 10px auto;\n    width:50px;\n    background: orange;\n    }\n    \n    --> \n    </style>\n    </head>\n    <body>\n　　<center>\n　　<div class=\"box3\">\n    <h1>打音の判定</h1>\n    </div>\n    \n  　<p>レコード開始実行と同時に録音がはじまり、レコード停止後に音声データを生成します</p>\n    <button type=\"button\" style=\"width:50%;padding:10px;font-size:30px;\" name=\"button\" class=\"start_recording\" id=\"btn_start_recording\">レコード開始</button><br><br><br>\n    <button type=\"button\" style=\"width:50%;padding:10px;font-size:30px;\" name=\"button\" class=\"stop_recording\" id=\"btn_stop_recording\">ストップ</button><br><br><br>\n    <audio id=\"player\" controls></audio><br><br><br>\n    <button type=\"button\" style=\"width:50%;padding:10px;font-size:30px;\" name=\"button\" class=\"classification\" id=\"btn_classification\">判定</button><br><br><br>\n    <div class=\"panel-footer\" style=\"height:100px;\">\n      <div id=\"result\"></div>\n    </div>\n　　</center>\n  </body>\n</html>","output":"str","x":340,"y":840,"wires":[["233c6c23.d0adf4"]]},{"id":"cadcb484.77ebf8","type":"http in","z":"5974a712.ab2828","name":"/pr-hokkaido-classification","url":"/pr-hokkiado-classification","method":"get","upload":false,"swaggerDoc":"","x":130,"y":840,"wires":[["f8993486.a9ed78"]]},{"id":"233c6c23.d0adf4","type":"http response","z":"5974a712.ab2828","name":"http response","statusCode":"","headers":{},"x":520,"y":840,"wires":[]},{"id":"74c9673a.decd58","type":"comment","z":"5974a712.ab2828","name":"打音の集音　UI提供部分　ここは別枠でWEBアプリとして外出ししても良いかと思います。","info":"","x":340,"y":800,"wires":[]},{"id":"91938d8d.3bc75","type":"comment","z":"5974a712.ab2828","name":"打音データの可視化とWatsonによる判別","info":"","x":180,"y":920,"wires":[]},{"id":"df510074.37df9","type":"http request","z":"5974a712.ab2828","name":"pythonの外部サービスに処理を渡す","method":"POST","ret":"obj","paytoqs":false,"url":"http://184.172.247.52:30872/spectrogram","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":1000,"wires":[["47d22da3.a39304"]]},{"id":"49f6d40f.1f066c","type":"function","z":"5974a712.ab2828","name":"打音データ受け渡し","func":"var buf = msg.req.files[0].buffer;\nmsg.file = buf;\nvar latitude = msg.req.body.latitude;\nvar longtitude = msg.req.body.longtitude;\nmsg.latitude = latitude;\nmsg.longtitude = longtitude;\nmsg.payload = msg.file;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1000,"wires":[["df510074.37df9","41e9a7c.7dd0f58"]]},{"id":"47d22da3.a39304","type":"function","z":"5974a712.ab2828","name":"ダミー","func":"\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":1040,"wires":[["fd9ba4b7.964d48","2a5a04eb.efd26c","a24c99b1.1a77a8"]]},{"id":"7e0c5ce0.d33834","type":"http in","z":"5974a712.ab2828","name":"/classification","url":"/classification","method":"post","upload":true,"swaggerDoc":"","x":90,"y":960,"wires":[["49f6d40f.1f066c"]]},{"id":"41e9a7c.7dd0f58","type":"debug","z":"5974a712.ab2828","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"req","targetType":"msg","x":460,"y":1040,"wires":[]},{"id":"fd9ba4b7.964d48","type":"function","z":"5974a712.ab2828","name":"DB格納用の情報","func":"var class_value=msg.payload.images[0].classifiers[0].classes[0].class;\nvar score_value=msg.payload.images[0].classifiers[0].classes[0].score;\nvar longtitude=msg.longtitude;\nvar latitude=msg.latitude;\nvar date = new Date();\ndate.setHours(date.getHours() + 9);\nresult = {\n    \"date\": date.toString(),\n    \"latitude\": latitude,\n    \"longtitude\": longtitude,\n    \"class\": class_value,\n    \"score\": score_value\n}\nmsg.payload = result;\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":1140,"wires":[["bfb944d1.316578"]]},{"id":"2a5a04eb.efd26c","type":"debug","z":"5974a712.ab2828","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"latitude","targetType":"msg","x":920,"y":1080,"wires":[]},{"id":"bfb944d1.316578","type":"cloudant out","z":"5974a712.ab2828","name":"DBにデータ格納","cloudant":"b9c9a741.76c2a8","database":"result","service":"node-red-webapp-pr-h-cloudant-1582623424962-49747","payonly":true,"operation":"insert","x":1100,"y":1140,"wires":[]},{"id":"b5468241.95cac","type":"debug","z":"5974a712.ab2828","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":120,"wires":[]},{"id":"4f47e48c.2106ac","type":"template","z":"5974a712.ab2828","name":"インデックス","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n  <head>\n    <meta charset=\"utf-8\">\n    <title>ＰＲ北海道</title>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js\"></script>\n    <style type=\"text/css\">\n    <!--\n    .box3 {\n    padding: 0.5em 1em;\n    margin: 2em 0;\n    color: #2c2c2f;\n    background: #cde4ff;/*背景色*/\n    }\n    .box3 p {\n    margin: 0; \n    padding: 0;\n    }\n　　example {\n    margin: 10px auto;\n    width:50px;\n    background: orange;\n    }\n    \n    -->\n    </style>\n    </head>\n    <body>\n　　<center>\n　　<div class=\"box3\">\n    <h1>ＰＲ北海道</h1>\n    </div>\n    <form id=\"form1\" action=\"/image-recognition\" method=\"get\">\n\t    <button type=\"submit\" style=\"width:50%;padding:10px;font-size:30px;\" name=\"button\">画像認識</button><br><br><br>\n    </form>\n    <form id=\"form2\" action=\"/pr-hokkiado-classification\" method=\"get\">\n        <button type=\"submit\" style=\"width:50%;padding:10px;font-size:30px;\" name=\"button\">打音判定</button><br><br><br>\n    </form>\n　　</center>\n  </body>\n</html>","output":"str","x":260,"y":80,"wires":[["1c7319af.e558e6","b5468241.95cac"]]},{"id":"84b47efd.e615c","type":"http in","z":"5974a712.ab2828","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":80,"y":80,"wires":[["4f47e48c.2106ac"]]},{"id":"1c7319af.e558e6","type":"http response","z":"5974a712.ab2828","name":"","statusCode":"","headers":{},"x":430,"y":80,"wires":[]},{"id":"d7ef469e.78ec08","type":"comment","z":"5974a712.ab2828","name":"index画面　画像認識、打音判定画面に遷移します。","info":"","x":210,"y":40,"wires":[]},{"id":"456b2b1e.a8b874","type":"comment","z":"5974a712.ab2828","name":"マップの表示","info":"マップの表示","x":90,"y":1360,"wires":[]},{"id":"6a1f09f1.cc3b38","type":"http in","z":"5974a712.ab2828","name":"","url":"/showmap","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1400,"wires":[["e5aabb95.d772f8"]]},{"id":"e5aabb95.d772f8","type":"template","z":"5974a712.ab2828","name":"地図画面の表示","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n  <meta charset=\"utf-8\" />\n  <title>異常箇所Map</title>\n  <meta name=\"viewport\" content=\"initial-scale=1,maximum-scale=1,user-scalable=no\" />\n  <script src=\"https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js\"></script>\n  <link href=\"https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css\" rel=\"stylesheet\" />\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n    }\n\n    #map {\n      position: absolute;\n      top: 0;\n      bottom: 0;\n      width: 100%;\n    }\n  </style>\n</head>\n\n<body>\n  <div id=\"map\"></div>\n  <script>\n//---------------\n//Mapについての設定\n//---------------\n//  初期表示設定\n    mapboxgl.accessToken = 'pk.eyJ1IjoieS10c3VndWVkYSIsImEiOiJjazZvYzV4YjAwZnozM2ttbGo3aDB2NGloIn0.wK79n0iuGLVP0RznXUJChQ';\n    var map = new mapboxgl.Map({\n      container: 'map', // container id\n      style: 'mapbox://styles/mapbox/streets-v11',\n      center: [141.350755, 43.068661], // 初期表示（経度, 緯度）\n      zoom: 10 // starting zoom\n    });\n\n    // Add zoom and rotation controls to the map.\n    map.addControl(new mapboxgl.NavigationControl());\n\n//---------------\n// 現在地の情報を取得する\n//---------------\n// Geolocation APIに対応しているか確認\nif( navigator.geolocation ){\n\t// 現在位置を取得できる場合の処理\n\talert( \"あなたの端末では、現在位置を取得することができます。\" ) ;\n\n  //取得した情報を画面上に表示\n  navigator.geolocation.getCurrentPosition(checkTest) ;\n}else{\n\t// 現在位置を取得できない場合の処理\n\talert( \"あなたの端末では、現在位置を取得できません。\" ) ;\n}\n\n //---------------\n //ポインタの設定\n //---------------\n    map.on('load', function() {\n      // Mapの種類を設定\n      map.addSource('national-park', {\n      'type': 'geojson',\n\n      // GPSの値を設定し、ポイントが表示されるようにする\n      'data': {\n        'type': 'FeatureCollection',\n        'features': [\n         //1つ目\n          {\n          'type': 'Feature',\n            'geometry': {\n              'type': 'Point',\n              'coordinates': [141.345391, 43.058157]\n            }\n          },\n\n          //2つ目\n          {\n          'type': 'Feature',\n            'geometry': {\n              'type': 'Point',\n              'coordinates': [141.330199, 43.063958]\n            }\n          },\n\n          //３つ目\n          {\n          'type': 'Feature',\n            'geometry': {\n              'type': 'Point',\n              'coordinates': [141.310973, 43.071137]\n            }\n          }\n        ]\n        }\n      });\n    //---------------\n\n      map.addLayer({\n          'id': 'park-boundary',\n          'type': 'fill',\n          'source': 'national-park',\n          'paint': {\n            'fill-color': '#228822',\n            'fill-opacity': 0.4\n          },\n        'filter': ['==', '$type', 'Polygon']\n      });\n    \n      map.addLayer({\n        'id': 'park-volcanoes',\n        'type': 'circle',\n        'source': 'national-park',\n          'paint': {\n            'circle-radius': 6,\n            'circle-color': '#B42222'\n          },\n        'filter': ['==', '$type', 'Point']\n      });\n    });\n\n//-----------------------------\n//取得したGPS情報を画面上に表示します。\n//-----------------------------\nfunction checkTest(position) {\n\nvar geo_text = \"緯度:\" + position.coords.latitude + \"\\n\";\ngeo_text += \"経度:\" + position.coords.longitude + \"\\n\";\ngeo_text += \"高度:\" + position.coords.altitude + \"\\n\";\ngeo_text += \"位置精度:\" + position.coords.accuracy + \"\\n\";\ngeo_text += \"高度精度:\" + position.coords.altitudeAccuracy  + \"\\n\";\ngeo_text += \"移動方向:\" + position.coords.heading + \"\\n\";\ngeo_text += \"速度:\" + position.coords.speed + \"\\n\";\n\nvar date = new Date(position.timestamp);\n\ngeo_text += \"取得時刻:\" + date.toLocaleString() + \"\\n\";\n\nalert(geo_text);\n\n}\n  </script>\n\n</body>\n\n</html>","output":"str","x":300,"y":1400,"wires":[["ea1ae0cb.740fb"]]},{"id":"ea1ae0cb.740fb","type":"http response","z":"5974a712.ab2828","name":"インデックス画面の表示","statusCode":"","headers":{},"x":530,"y":1400,"wires":[]},{"id":"3b7965a0.929d0a","type":"comment","z":"5974a712.ab2828","name":"TODO：結果表示画面の実装","info":"","x":900,"y":400,"wires":[]},{"id":"2db23aaa.6b4026","type":"comment","z":"5974a712.ab2828","name":"TODO：画像判定のvisual recognition を設定する","info":"","x":640,"y":580,"wires":[]},{"id":"73816fc7.040fa","type":"http response","z":"5974a712.ab2828","name":"","statusCode":"","headers":{},"x":590,"y":1180,"wires":[]},{"id":"cbef820b.00ce8","type":"template","z":"5974a712.ab2828","name":"打音結果表示画面の表示","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n\n<head>\n  <meta charset=\"utf-8\">\n  <title>打音判定</title>\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js\"></script>\n  <script>\n    $(function () {\n      $('#btn_start_recording').on('click', function () {\n        startRecording();\n      })\n\n      $('#btn_stop_recording').on('click', function () {\n        endRecording();\n      })\n\n      $('#btn_classification').on('click', function () {\n        classification();\n      })\n\n    })\n    // ///////////////////////////////////////////\n    // 録音関係\n    // ///////////////////////////////////////////\n\n    // 変数定義\n    let localMediaStream = null;\n    let localScriptProcessor = null;\n    let audioSampleRate = null;\n    let audioContext = null;\n    let bufferSize = 1024;\n    let audioData = []; // 録音データ\n    let recordingFlg = false;\n    let dl = null;\n    let blob = null;\n    let geo_json = [];\n\n    // 録音バッファ作成（録音中自動で繰り返し呼び出される）\n    function onAudioProcess(e) {\n      if (!recordingFlg) return;\n      console.log('onAudioProcess');\n\n      // 音声のバッファを作成\n      let input = e.inputBuffer.getChannelData(0);\n      let bufferData = new Float32Array(bufferSize);\n      for (let i = 0; i < bufferSize; i++) {\n        bufferData[i] = input[i];\n      }\n      audioData.push(bufferData);\n    }\n\n    // 解析開始\n    function startRecording(evt_stream) {\n      // 画面アクセス時にマイクを取得\n      console.log('startRecording');\n      recordingFlg = true;\n\n      // 取得されている音声ストリームの録音を開始\n      localMediaStream = evt_stream;\n\n      if (!navigator || !navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {\n        alert('Missing support for navigator.mediaDevices.getUserMedia') // temp: helps when testing for strange issues on ios/safari\n        return\n      }\n\n      audioContext = new (window.AudioContext || window.webkitAudioContext)();\n      // サンプルレートを保持しておく\n      audioSampleRate = audioContext.sampleRate;\n\n      let scriptProcessor = audioContext.createScriptProcessor(bufferSize, 1, 1);\n      localScriptProcessor = scriptProcessor;\n\n      if (audioContext.createMediaStreamDestination) {\n        destinationNode = audioContext.createMediaStreamDestination()\n      }\n      else {\n        destinationNode = audioContext.destination\n      }\n\n      // safariで Web Audio APIを動かすため、先にaudioContextを生成し、UserMediaを生成する\n      return navigator.mediaDevices.getUserMedia({ audio: true })\n        .then((stream) => {\n          this._startRecordingWithStream(stream, destinationNode, scriptProcessor)\n        })\n        .catch((error) => {\n          alert('Error with getUserMedia: ' + error.message) // temp: helps when testing for strange issues on ios/safari\n          console.log(error)\n        })\n    }\n\n    function _startRecordingWithStream(stream, destinationNode, scriptProcessor) {\n      // ループ処理のセット\n      let mediastreamsource = audioContext.createMediaStreamSource(stream);\n      mediastreamsource.connect(scriptProcessor);\n      scriptProcessor.onaudioprocess = onAudioProcess;\n      console.log('startRecording scriptProcessor.connect(audioContext.destination)');\n      scriptProcessor.connect(destinationNode);\n    }\n\n    // 解析終了\n    function endRecording() {\n      console.log('endRecording');\n      recordingFlg = false;\n\n      // 録音できたので録音データをwavにしてinputに配置＆再生ボタンに登録\n      blob = exportWAV(audioData);\n\n      // データ送信用のinputタグを取得\n      let wave_tag = document.getElementById('demo_speaking_wave_file');\n\n      // base64加工\n      let reader = new FileReader();\n      reader.readAsDataURL(blob);\n      reader.onloadend = function () {\n        base64data = reader.result;\n        // console.log('base64data');\n        // console.log(base64data);\n        //wave_tag.value = base64data;\n      };\n\n      let myURL = window.URL || window.webkitURL;\n      let url = myURL.createObjectURL(blob);\n      //dl = document.querySelector(\"#dl\");\n\n      dl = \"test\";\n\n      // audioタグに録音データをセット\n      let player = document.getElementById('player');\n      player.src = url;\n      player.load();\n\n      // audioDataをクリア\n      localMediaStream = null;\n      localScriptProcessor = null;\n      audioContext.close()\n      audioContext = null;\n      audioData = []; // 録音データ\n    }\n\n    // ///////////////////////////////////////////\n    // waveファイル作成処理\n    // ///////////////////////////////////////////\n\n    function exportWAV(audioData) {\n\n      let encodeWAV = function (samples, sampleRate) {\n        let buffer = new ArrayBuffer(44 + samples.length * 2);\n        let view = new DataView(buffer);\n\n        let writeString = function (view, offset, string) {\n          for (let i = 0; i < string.length; i++) {\n            view.setUint8(offset + i, string.charCodeAt(i));\n          }\n        };\n\n        let floatTo16BitPCM = function (output, offset, input) {\n          for (let i = 0; i < input.length; i++ , offset += 2) {\n            let s = Math.max(-1, Math.min(1, input[i]));\n            output.setInt16(offset, s < 0 ? s * 0x8000 : s * 0x7FFF, true);\n          }\n        };\n\n        writeString(view, 0, 'RIFF');  // RIFFヘッダ\n        view.setUint32(4, 32 + samples.length * 2, true); // これ以降のファイルサイズ\n        writeString(view, 8, 'WAVE'); // WAVEヘッダ\n        writeString(view, 12, 'fmt '); // fmtチャンク\n        view.setUint32(16, 16, true); // fmtチャンクのバイト数\n        view.setUint16(20, 1, true); // フォーマットID\n        view.setUint16(22, 1, true); // チャンネル数\n        view.setUint32(24, sampleRate, true); // サンプリングレート\n        view.setUint32(28, sampleRate * 2, true); // データ速度\n        view.setUint16(32, 2, true); // ブロックサイズ\n        view.setUint16(34, 16, true); // サンプルあたりのビット数\n        writeString(view, 36, 'data'); // dataチャンク\n        view.setUint32(40, samples.length * 2, true); // 波形データのバイト数\n        floatTo16BitPCM(view, 44, samples); // 波形データ\n\n        return view;\n      };\n\n      let mergeBuffers = function (audioData) {\n        let sampleLength = 0;\n        for (let i = 0; i < audioData.length; i++) {\n          sampleLength += audioData[i].length;\n        }\n        let samples = new Float32Array(sampleLength);\n        let sampleIdx = 0;\n        for (let i = 0; i < audioData.length; i++) {\n          for (let j = 0; j < audioData[i].length; j++) {\n            samples[sampleIdx] = audioData[i][j];\n            sampleIdx++;\n          }\n        }\n        return samples;\n      };\n\n      let dataview = encodeWAV(mergeBuffers(audioData), audioSampleRate);\n      let audioBlob = new Blob([dataview], { type: 'audio/wav' });\n\n      return audioBlob;\n\n    }\n\n    function audioPlay() {\n      let play_button = document.getElementById(\"btn_play_pause\");\n      play_button.onclick = new Function(\"audioPause();\");\n      play_button.innerText = \"停止\";\n      document.getElementById(\"player\").play();\n    }\n\n    function audioPause() {\n      let play_button = document.getElementById(\"btn_play_pause\");\n      play_button.onclick = new Function(\"audioPlay();\");\n      play_button.innerText = \"再生\";\n      document.getElementById(\"player\").pause();\n    }\n  </script>\n\n\n  <!--画面ロード時に発火するスクリプト-->\n  <script type=\"text/javascript\">\n    window.onload = onLoad;\n    var objResult = {\"images\":[{\"classifiers\":[{\"classifier_id\":\"spectrogram_579117281\",\"name\":\"spectrogram\",\"classes\":[{\"class\":\"normal\",\"score\":0.92}]}],\"image\":\"085a5fdb-4df1-47bf-942c-360826d9c5c6.png\"}],\"images_processed\":1,\"custom_classes\":2}\n\n    function onLoad() {\n      target = document.getElementById(\"result\");\n      target.innerHTML = \"JavaScriptが実行されました。\";\n\n      //表示している内容をクリアする\n      if (target.hasChildNodes()) {\n        for (var i = target.childNodes.length - 1; i >= 0; i--) {\n          target.removeChild(target.childNodes[i]);\n        }\n      }\n\n      //-----------------------------\n      //判定結果（JSON形式）からデータを取得, 表示値を生成\n      //-----------------------------\n      // classifierId+name\n      var classifier;\n      classifier = document.createTextNode(\"classifierId=\" + objResult.images[0].classifiers[0].classifier_id + \", classifierName=\" + objResult.images[0].classifiers[0].name);\n      var classifierBox = document.createElement('p');\n      classifierBox.appendChild(classifier);\n      target.appendChild(classifierBox);\n\n      // classes\n      var classes;\n      classes = document.createTextNode(\"className=\" + objResult.images[0].classifiers[0].classes[0].class + \", score=\" + objResult.images[0].classifiers[0].classes[0].score);\n      var classesBox = document.createElement('p');\n      classesBox.appendChild(classes);\n      target.appendChild(classesBox);\n\n      console.log('don!');\n\n\n    }\n\n  </script>\n  <style type=\"text/css\">\n    <!--\n    .box3 {\n      padding: 0.5em 1em;\n      margin: 2em 0;\n      color: #2c2c2f;\n      background: #cde4ff;\n      /*背景色*/\n    }\n\n    .box3 p {\n      margin: 0;\n      padding: 0;\n    }\n\n    example {\n      margin: 10px auto;\n      width: 50px;\n      background: orange;\n    }\n    -->\n  </style>\n</head>\n\n<body>\n  <center>\n    <div class=\"box3\">\n      <h1>打音の判定</h1>\n      <p>TODO:データはダミーです</p>\n    </div>\n    <audio id=\"player\" controls></audio><br><br><br>\n\n    <button type=\"button\" style=\"width:50%;padding:10px;font-size:30px;\" name=\"button\" class=\"classification\"\n      id=\"btn_classification\">MAP表示</MAP></button><br><br><br>\n    <div class=\"panel-footer\" style=\"height:100px;\">\n      <div id=\"result\"></div>\n    </div>\n    　　\n  </center>\n</body>\n\n</html>","output":"str","x":390,"y":1180,"wires":[["73816fc7.040fa"]]},{"id":"9beea447.643c68","type":"http in","z":"5974a712.ab2828","name":"","url":"/classification_result","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1180,"wires":[["cbef820b.00ce8"]]},{"id":"10bc4a82.69cd85","type":"http response","z":"5974a712.ab2828","name":"","statusCode":"","headers":{},"x":650,"y":660,"wires":[]},{"id":"44ace9a0.b7d8f8","type":"template","z":"5974a712.ab2828","name":"画像認識結果表示画面の表示","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":440,"y":660,"wires":[["10bc4a82.69cd85"]]},{"id":"bc3613d0.90ff9","type":"http in","z":"5974a712.ab2828","name":"","url":"/image_classification_result","method":"get","upload":false,"swaggerDoc":"","x":150,"y":660,"wires":[["44ace9a0.b7d8f8"]]},{"id":"e9d71fd.f35fce","type":"comment","z":"5974a712.ab2828","name":"TODO：結果表示画面","info":"","x":120,"y":1140,"wires":[]},{"id":"628a9c11.97c8c4","type":"comment","z":"5974a712.ab2828","name":"TODO：結果表示画面","info":"","x":120,"y":620,"wires":[]},{"id":"a24c99b1.1a77a8","type":"http response","z":"5974a712.ab2828","name":"結果を返却","statusCode":"","headers":{},"x":910,"y":1040,"wires":[]},{"id":"b9c9a741.76c2a8","type":"cloudant","z":"","host":"y-tsugueda.cloudant.com","name":"result"}]